{{- $searchCore := resources.Get "js/search-core.js" | js.Build (dict "minify" true) | fingerprint }}
<script defer src="{{ $searchCore.RelPermalink }}" integrity="{{ $searchCore.Data.Integrity }}"></script>
{{- $siteJS := resources.Get "js/site.js" | js.Build (dict "minify" true) | fingerprint }}
<script defer src="{{ $siteJS.RelPermalink }}" integrity="{{ $siteJS.Data.Integrity }}"></script>
{{- if .IsHome }}
{{- $homeJS := resources.Get "js/home-reveal.js" | js.Build (dict "minify" true) | fingerprint }}
<script defer src="{{ $homeJS.RelPermalink }}" integrity="{{ $homeJS.Data.Integrity }}"></script>
{{- end }}
