{{- if not .IsHome }}
<footer class="footer vect-site-footer"><span>© {{ now.Year }} VECT / FIELD NOTES</span><nav aria-label="页脚导航"><a href="https://github.com/WoAiXueXiHa">GitHub</a><a href="mailto:1760198676@qq.com">Email</a></nav></footer>
{{- end }}
{{- if and (eq .Kind "page") (ne .Layout "archives") (ne .Layout "search") (.Param "ShowCodeCopyButtons") }}
{{- $copyJS := resources.Get "js/code-copy.js" | js.Build (dict "minify" true) | fingerprint }}
<script defer src="{{ $copyJS.RelPermalink }}" integrity="{{ $copyJS.Data.Integrity }}"></script>
{{- end }}
{{- partial "extend_footer.html" . }}
